#header{
  color:white;
  background-color:red;
  text-align: center;
  height: 50px;
}
#leftbody{
  color:white;
  background-color:green;
  height: 500px;
}
#bottom{
  color:white;
  background-color:blue;
  height: 50px;
}
