#wrapper{
  background-color: green;
  margin: 0 auto;
  height: 650px;
}
#header{
  background-color:red;
  text-align: center;
  height: 100px;
  margin:0 20%;
}
#leftbody{
	float:left;
	height: 100px;
  width: 15%;
	background-color:pink;
  margin-left: 20%;
}
#rightbody{
	float:right;
	height: 100px;
  width: 45%;
	background-color: orange;
  margin-right: 20%;
}
#content{
  background-color:blue;
  height: 500px;
  margin:0 20%;
}
#bottom{
  background-color:yellow;
  height: 50px;
  margin:0 20%;
}
